/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
}


.logo {
    width: 20%;
    height: auto;
    position: relative;
    left: 150px;
}

/*Container da Header*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 100px;
    background-color: rgb(120, 134, 107);
}

/*Nav da Header*/
.nav-container {
    display: flex;
    justify-content: space-between;
    font-size: 28;
    position: relative;
    right: 150px;


    a {
        text-decoration: none;
        color: white;
    }

    li {
        display: inline;
        margin-right: 20px;
        ;
    }
}


/*Container da Banner*/

.banner-container {
    background-image: url(https://images.pexels.com/photos/941864/pexels-photo-941864.jpeg?cs=srgb&dl=pexels-chanwalrus-941864.jpg&fm=jpg);
    background-size: cover;
    height: 700px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
    background-position: center;
}

.buttombanner {
    background-color: #4a794b;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.banner-container h2 {
    position: relative;
    top: 50px;
    font-size: 60px;
}

.banner-container h1 {
    margin-top: 50px;
    font-size: 80px;
}

/*Container da Secao Sobre*/

.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #78866b;
    padding: 50px;
    text-align: left;
}

.titulo_sobrenos {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 80%;
}

.sobre-img {
    width: 30%;
    height: auto;
}

.sobre-texto {
    color: white;
    font-size: medium;
    font-family: Tahoma;
    max-width: 60%;
}

/*Container Nosso Establecimento*/

#titulo_est {
    padding: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.estabelecimento-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.gradientbody {
    background: #536144;
    background: linear-gradient(90deg, rgba(83, 97, 68, 1) 0%, rgba(171, 190, 152, 1) 50%, rgba(83, 97, 68, 1) 100%);
}

.mapaGeral p {
    font-size: 18px;
    font-family: Tahoma;
    text-align: center;
    color: white;
}

.mapa {
    margin-left: 25%;
    margin-top: 20px;
}

/*Nossos produtos*/

#titulo_prod {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.produtos-conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    text-align: left;
}

/*produto-img na direita e listaProdutoTexto na esquerda */

.produto {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-left: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.produto-img {
    width: 30%;
    height: auto;
    justify-content: right;
    align-items: right;
    clear: left;
}

.listaProdutoTexto {
    font-size: 18px;
    font-family: Tahoma;
    color: white;
}

#titulo_prod {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.container-video {
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-container {

    padding: 10px 100px;
    color: white;
    text-align: center;
    background: url(https://media.gettyimages.com/id/1473729127/pt/v%C3%ADdeo/beautiful-abstract-particle-background-seamlessly-loopable-animation-green-version-design.jpg?s=640x640&k=20&c=dXVW0M9oQs-lX2zW3KwbbTfexK66JIZtg4WIYmHh9EQ=);
    background-size: cover;
    background-position: 50%;

    p {
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    img {
        width: 70px;
        height: auto;
    }
}

#what{
    margin-right: 6px;
}