body {
    background: #536144;
    background: linear-gradient(90deg, rgba(83, 97, 68, 1) 0%, rgba(211, 255, 201, 1) 100%);
    color: #282828;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    animation: rainbow 3s infinite linear;
}

@keyframes rainbow {
    0% { color: red; }
    16% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: indigo; }
    100% { color: violet; }
}

img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 50%;
    height: auto;
}

p {
    text-align: center;
    font-size: 18px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.slider button{
    background-color: purple;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 8px;
}